{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
  $("#cart").attr('class', 'active');
</script>
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Game</th>
                <th>Description</th>
                <th>Remove</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with game=item.game %}
            <tr>
                <td>
                    <a href="{{ game.get_absolute_url }}">
                        <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                </td>
                <td>{{ game.name }}</td>
                <td>{{ game.get_short_description }}</td>
                <td><a href="{% url "cart:cart_remove" game.id %}">Remove</a></td>
                <td>${{ item.price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="3"></td>
            <td>${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "core:index" %}" class="button light">Continue shopping</a>
        <a href="{% url "orders:order_create" %}" class="button">Checkout</a>
    </p>
{% endblock %}
