{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
  $("#index").attr('class', 'navbar-brand active');
</script>
    <div class="game-detail">
        <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "no_image.png" %}{% endif %}">
        <h1>{{ game.name }}</h1>
        <h2><a href="{{ game.category.get_absolute_url }}">{{ game.category }}</a></h2>
        {{ game.description|linebreaks }}
        {% if user.is_authenticated and user.is_player %}
            <a href="{% url 'gameService:play' id=game.id %}" class="btn btn-info" role="button">Play</a>
        {% endif %}

    </div>
{% endblock %}
