{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
  $("#index").attr('class', 'navbar-brand active');
</script>
  <div class="row">


    <div class="game-detail">
        <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "no_image.png" %}{% endif %}">
        <h1>{{ game.name }}</h1>
        <h2><a href="{{ game.category.get_absolute_url }}">{{ game.category }}</a></h2>
        <p class="price">{{ game.price }} €</p>
        {{ game.description|linebreaks }}
        <h4>Times Sold: {{ game.times_bought }}</h4>
        {% if user.is_authenticated and user.is_developer %}
          <form action="{% url 'update_price' %}" method="post">
            {% csrf_token %}

            <div class="form-group">
              {{form}}
              <input type="hidden" name='id' value={{game.id}}>
            </div>
            <div class="form-group">
              <input type="submit" name="update" value="Update Price">

            </div>
          </form>
          <form action="{% url 'remove_game' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name='id' value={{game.id}}>
                <input type="submit" value="Remove game">
              </div>
            </div>
          </form>
        {% endif %}
    </div>
  </div>
{% endblock %}
