{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "game_list" %}">All</a>
            </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="main" class="game-list">
        <h1>{% if category %}{{ category.name }}{% else %}Games{% endif %}</h1>
        {% for game in games %}
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="{{ game.get_absolute_url }}">
                  <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
              <div class="caption">
                <h3><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h3>
                {{ game.price }} €
                <p>{{ game.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
