{% extends "base.html" %}


{% block content %}
<script>
  $("#add_games").attr('class', 'active');
</script>
  <div class="container">
    <div  class="center-block signup" style="text-align:left">
      <h2 style="text-align: center; margin-bottom: 50px;">Add game</h2>
      <form action="{% url 'add_game' %}"method="post" name="AddGameForm" enctype="multipart/form-data" class="form-horizontal form">
        {% for error in form.non_field_errors %}
          <div class="form-group has-errors text-danger" style="margin: 0 auto;">
            {{error}}
          </div>
          </br>
        {% endfor %}
        {{ form.as_p }}
        <!--<button type="submit" class="btn btn-success" style="width:100%">Add game</button>-->
        <p><input type="submit" value="Add game"></p>
        {% csrf_token %}
      </form>
    </div>
    </br>
    </br>
    </br>
  </div>
{% endblock %}
