{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script>
  $("#games").attr('class', 'active');
</script>

<h1>My games</h1>

{% if user.is_player %}
{% if not games %}
  <h3>You don't have any games yet.</h3>
{% endif %}
    <div class="row">
      {% for game in games %}
      <div class="col-sm-6 col-md-5">
        <div class="thumbnail">
          <a href="{{ game.get_absolute_url }}">
              <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
          </a>
          <div class="caption">
            <h3><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h3>
            <p>{{ game.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


{% elif user.is_developer %}
{% if not games %}
  <h3>You don't have any games yet.</h3>
{% endif %}

  <div class="row">
    {% for game in games %}
    <div class="col-sm-6 col-md-5">
      <div class="thumbnail">
        <a href="{{ game.get_absolute_url }}">
            <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <div class="caption">
          <h3><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h3>
          <p>{{ game.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% else %}
    <h3>You must log in first.</h3>
{% endif %}

{% endblock %}
