{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script>
  $("#highscores").attr('class', 'active');
</script>
<div class="row">

  <div class="col-lg-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active">  <a href="{% url "highscores" %}">Global higscores</a></li>
      {% if user.is_authenticated and user.is_player%}
      <li role="presentation">  <a href="{% url "player_highscores" %}">My highscores</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="col-lg-10">
  <h1>Highscores</h1>
    <div class="row">
      {% for score in scores %}
      <div class="col-sm-4 col-md-4">
        <div style="height:400px; overflow-y: auto; class="thumbnail">
          <a href="{{ score.game.get_absolute_url }}">
              <img src="{% if score.game.image %}{{ score.game.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
          </a>
          <div class="caption">
            <h3><a href="{{ score.game.get_absolute_url }}">{{ score.game.name }}</a></h3>
            <table class="table">
              <tr>
                <th>Player</th>
                <th>Score</th>
              </tr>
              <tr>
                <td>{{ score.player_name }}</td>
                <td>{{ score.score }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
