{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script>
  $("#highscores").attr('class', 'active');
</script>
<div class="row">

  <div class="col-lg-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active">  <a href="{% url "highscores" %}">Global higscores</a></li>
      <li role="presentation">  <a href="{% url "player_highscores" %}">Personal highscores</a></li>
    </ul>
  </div>
  <div class="col-lg-10">
  <h1>Highscores</h1>
    <div class="row">
      {% for game in scores %}
      <div class="col-sm-5 col-md-5">
        <div style="height:550px; overflow-y: auto;" class="thumbnail">
          <a href="{{ game.get_absolute_url }}">
              <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" height="300" width="300">
          </a>
          <div class="caption">
            <h3><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h3>
            <table class="table">
              <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
              </tr>
              {% for s in game.highscores.all %}
              <tr>
                <td>{{forloop.counter}}.</td>
                <td>{{ s.player_name }}</td>
                <td>{{ s.score }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
