{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
  <script>
    $("#index").attr('class', 'navbar-brand active');
    $( "div#title" ).removeClass( "container" )
  </script>

  <div id="title">
    <div class="logo"><img src="{% static "media/HeaderText4.svg" %}" alt="Title The Best Game Store"></div>
    <button class="btn btn-default" target="_blank" style="margin: 10px auto; text-align: center; width: 400px"><a href="http://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/{{ request.get_full_path|urlencode }}">Press here to spam your friends in Facebook!</a></button>
    <!--<a href="http://www.facebook.com/share.php?u=http://127.0.0.1:8000/{{ request.get_full_path|urlencode }}" target="_blank" title="Share on Facebook">
      <img src="http://carlosvin.alwaysdate.net/templates/img/fb.png" alt="Whatever"/>
    </a>-->
  </div>

  <div class="row">
    <div class="col-lg-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" {% if not category %}class="active"{% endif %}>  <a href="{% url "core:index" %}">All</a></li>
        {% for c in categories %}
        <li role="presentation"{% if category.slug == c.slug %}class="active"{% endif %}>  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-lg-10">
        <h1>{% if category %}{{ category.name }}{% else %}Games{% endif %}</h1>
        <div class="row">
          {% for game in games %}
          <div class="col-sm-4 col-md-4">
            <div style="height:400px; overflow-y: auto;" class="thumbnail">
              <a href="{{ game.get_absolute_url }}">
                  <img src="{% if game.image %}{{ game.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" height="200" width="200">
              </a>
              <div class="caption">
                <h3><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h3>
                {{ game.price }} €
                <p>{{ game.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

    </div>
  </div>
{% endblock %}
