{% extends "base.html" %}
{% load staticfiles %}

{% block nav %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">TheBestGameStore</a>
    </div>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'games' %}"><span class="glyphicon glyphicon-knight"></span> Games</a></li>
        <li><a href="{% url 'highscores' %}"><span class="glyphicon glyphicon-star"></span> Highscores</a></li>
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.get_username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Purchased games</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <p> This is the login page
  </p>

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}

    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

    <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  {% if user.is_authenticated %}
  <p>You're already logged in!</p>
  {% else %}
  <form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  {% endif %}

</div>
{% endblock %}
