{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<script>
  $("#login").attr('class', 'active');
</script>
<div class="container">
  <div style="text-align:center">
    {% if next %}

      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>

      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}

    {% endif %}

    {% if user.is_authenticated %}
      <p>You're already logged in!</p>
  </div>
  {% else %}
  <div  class="center-block signup" style="text-align:left">
    <form class="form-horizontal form" name="LoginForm"  method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
        <div class="form-group has-errors text-danger" style="margin: 0 auto;">
          {{error}}
        </div>
        </br>
      {% endfor %}
      <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
          <input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
        </div>
      </div><br>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success" style="width:100%">Login</button>
        </div>
      </div>
    </form>
  </div>



  <!--<div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% endif %}

                <input type="submit" value="Login"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>-->
  {% endif %}

</div>
{% endblock %}
