@import url(http://fonts.googleapis.com/css?family=Ubuntu);



body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#5993bb;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}


table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    /*width:300px;*/
    width: 100%;
    font-size:13px;
    margin-bottom:10px;
    padding:8px 10px;
    /*border:0;
    background:#efefef;*/
    background-color: white;
    color:#666;
    border-radius:4px;
}

form textarea {
  width: 100%;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}

.price-input {
    /*width:300px;*/
    margin-bottom:3px;
    padding:4px 6px;
    /*border:0;
    background:#efefef;*/
    background-color: white;
    color:#666;
    border-radius:4px;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:22px;
    margin-right:10%;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.game-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.game-list .item img {
    width:100%;
    margin-bottom:8px;
}

.game-detail {
    text-align:justify;
}

.game-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.game-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.game-detail h1 {
    margin-bottom:0;
}

.game-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

.navbar-inverse {
   background-color: rgb(24, 86, 164);
   background-image: none;
   border-color: rgb(24, 86, 164);
 }

.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
   background-color: rgb(24, 86, 164);
 }

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
   background-color: rgb(60, 60, 145);
 }

.dropdown-menu {
   background-color: white;
 }

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
   background-color: rgb(66, 139, 202);
   background-image: none;
 }

.navbar-inverse .navbar-brand {
   color: rgb(210, 210, 210);
 }

.navbar-inverse .navbar-brand:hover {
   color: white;
 }

.navbar-inverse .navbar-nav>li>a {
   color: rgb(210, 210, 210);
 }

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
   color: white;
 }

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
   color: white;
 }

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
   color: white;
 }

.dropdown-menu>li>a {
   color: rgb(51, 51, 51);
 }

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
   color: white;
 }

.navbar-inverse .navbar-nav>.dropdown>a .caret {
   border-top-color: #999999;
   border-bottom-color: #999999;
 }

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
   border-top-color: white;
   border-bottom-color: white;
 }

.navbar-inverse .navbar-brand.active {
  color: white;
}



#title {
    width: 80%;
    max-width: 500px;
    margin: 0px auto;
    height:auto;
    overflow:auto;
    text-align: center;
}

#title2 {
    width: 300px;
    height: 200px;
    margin: 0px auto;
    overflow:auto;
    text-align: center;
}

.logo {
    width: 100%;
    height:auto;
    margin: 0px 0px 60px 0px;
    padding: 70px 0px 20px 0px;
}

.logo img {
    width: 100%;
    height:auto;
    border: 0;
}

#facebook-share {
  //width: 40%;
}

.facebook {
    /*width: 100%;
    height:auto;*/
    margin: 0px 0px 50px 0px;
}

.btn.btn-primary.facebook a {
  color: white;
}

/*label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}*/

.btn.btn-default {
  margin-bottom: 10px ;
  padding: 9px 4px 4px 4px;
  width: 150px;
  background: rgb(250, 250, 250);
  border: 1px solid rgb(200, 200, 200);
  font-size: 1.1em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font
}

.btn.btn-default:hover {
  background: rgb(230, 230, 230);
  border: 1px solid rgb(150, 150, 150);
}

.btn.btn-primary.usersubmit {
  width:100%;
  margin-top: 10px;
}

#google-signin img {
  /*border: 1px solid grey;*/
  border: 0px;
}

#google-signin img:hover {
  /*outline: 1px solid #428bca;*/
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.4);
}

.signup {
  width: 30%;
}

.signup2 {
  width: 150px;
}

.dev-settings {
  margin: 0 auto;
  text-align: center;
  min-height: 155px;
}

.thumbnail.dev-settings {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    .signup {
        width: 250px;
    }
}
